.ImagesBlock{
    margin:40px 0 0;
    border:2px solid black;
}
.ImagesBlock img{
width:500px;
height: auto;
}

@media(max-width:700px){
    .ImagesBlock {
        width:100%;
        margin: 40px 0;
        height: auto;
        }
}