.ImagesBlock{
    margin:40px 0 0;
    /* border:2px solid black; */
}
.ImagesBlock img{
width:500px;
height: auto;
margin-bottom: 40px;
}
.ImagesBlock p{
    font-size: 70%;
    left: 0;
    text-align: left;
    }
    .Close{
 
        animation: preViewImg 0.5s;
        animation-fill-mode: forwards;
       
    }

@media(max-width:700px){
    .ImagesBlock {
        width:100%;
        margin: 40px 0;
        height: auto;
        }
}


@keyframes preViewImg {
    0% {opacity: 1;}
    50%{opacity: 1;
        margin-left: -400%;}
    100% {
        margin-top: -460px;
        margin-left: -400%;}
  }