.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition:0.8s;
    transition-timing-function: liner;

}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}
.Invalid{
    border: 1px solid red;
background-color: salmon;
}
.Hide{
    width: 50%!important;
    /*transform: scale(1.2);*/
    background-color:  rgb(158, 140, 140);
    pointer-events: none;
}